
.truncate {
  width: 100%;
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui.vertical.menu {width: 100%;}
.ui.inverted.steps {
  border-color: rgba(255,255,255,.35);
  line-height: 1em;
  .step {
    font-size:.8rem;
    background-color: #1B1C1D !important; color: #fff;border-right: 1px solid rgba(255,255,255,.35) }
  .disabled.step::after, .step::after{
    background-color: #1B1C1D;
    border-color: rgba(255,255,255,.35);
  }
  .disabled.step {
    .title {color: rgba(255,255,255,.35) !important;}
    color: rgba(255,255,255,.35) !important;}
  // .disabled.step .content {color: rgba(255,255,255,.87) !important;}
}



.indent-fields {
  margin-top: 1em;
  padding-left: 1.5em;
  border-left: solid 5px #2185D0;
}
.aceEditor {
    position: relative;
    min-height: 400px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 3px;
}
textarea[text-expand] {max-height: none;}

pre {background-color: #fafafa;padding: .5em;}

.link-section {
  border-left:solid 5px rgba(34,36,38,.22);
  padding: 1em .5em 1em 1.25em;
  background-color: #f8f8f9;
}
.orange {
  border-left:solid 5px #9F3A38;
  background-color: #FFE7E7;
  .msg {
    color: #9F3A38
  }

}
.green {
  border-left: solid 5px #1ebc30;
  background-color: #e5f9e7;
  .msg {color: #1ebc30}
}


.file-dropper {border: dashed 3px #ccc;
  color: #ccc;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 1em;
  box-sizing: content-box;
}

.divider-column {
  position: relative;
  padding: 0 !important;
}



.query-string-editor {
  padding-top:.5em;
  margin-top:.5em;
  padding: 1em 1.5em;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
  border-radius: .28571429rem;
  a {color: #a333c8}
}
.tags-layout {
  overflow: hidden;
  margin:0;
  padding:0;
  padding-top:.5em;
  a {color: #a333c8;}
  li {
    background-color: #f6e7ff;
    color: #a333c8;
    box-shadow: 0 0 0 1px #a333c8 inset, 0 0 0 0 transparent;
    float:left;
    display: inline-block;
    margin-right: .5em;
    margin-bottom:.5em;
    padding: 2px 5px 6px 15px;
    border-radius: .28571429rem;}
}

.context {
  background-image: -webkit-linear-gradient(0deg, #fafafa 5em, #fff 5em, #fff) !important;
  .line {float:left; font-weight:bold; width: 4em;}
  .code {
    margin-left: 5em; word-wrap: break-word; font-family: monospace;
    strong {
      background-color: #ffdf82;
      font-style: italic;
      font-weight: normal;
      padding: 0 .5em 0 .5em;
      display: inline;
      border-radius: .5em;
    }
  }
}

.old-url {
  /*background:#DFF0FF; color: #2185D0; box-shadow: 0 0 0 1px #2185D0 inset,0 0 0 0 transparent;  overflow:hidden; padding: .5em 1em; margin-bottom: 1em; border-radius: .28571429rem;*/
  strong {
    float:left; width: 5em;
  }
  .url {margin-left: 5em; word-wrap: break-word;}
}


#content {margin-bottom:3em; }
.step {
  cursor:hand;
}

.ui.fixed.container {
  position:fixed;
  background-color: #fff;
  border-top: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  min-height: 0 1px 2px 0 rgba(34,36,38,.15);
  z-index: 101;
  margin: 0;
  width: 100%; bottom:0; right:0; left:0;
}
